.DemoWidget {
    display: flex;
    max-height: 500px;

    // this is an example feature we define in the widget options
    &_layout_column {
        flex-direction: column;
    }

    &-Image {
        object-fit: contain;
    }
}
