
:root {
    --div-background-color: white;
}

.DemoWidget {
    display: flex;
    background-color: var(--div-background-color);

    &_layout_column {
        flex-direction: column;
    }

    &-Image {
        object-fit: contain;
    }
}
